@page "/"
@inject ServicioSingleton AddSingleton
@inject IRepositorio repositorio

<PageTitle>Blazor Películas</PageTitle>
<div>
    <h3>Película</h3>
    <hr>
    <button @onclick="LimpiarPeliculas">Limpíar Peliculas</button>

    <ListadoPeliculas @ref="listadoPeliculas" Peliculas="Peliculas"/>
</div>
      

@code{
        public List<Pelicula>? Peliculas { get; set; }
        public ListadoPeliculas? listadoPeliculas;    

        protected override void OnInitialized()
        {
            Peliculas = repositorio.ObtenerPeliculas();
        }

        private void LimpiarPeliculas()
        {
            listadoPeliculas.LimpiarPeliculas();
        }





   

}


