@page "/"


<div>
    <h3>Película</h3>
    <p>Título: <b>@Rapidos.Titulo</b> </p>
    <p>Fecha Lanzamiento:<b> @Rapidos.FechaLanzamiento.ToString("dd MM yyyy")</b></p>
</div>


@code{

    Pelicula Rapidos { get { return ObtenerPelicula(); }}
    
    Pelicula ObtenerPelicula(){
        return new Pelicula{
            Titulo = "Rapidos y Furiosos 9",
            FechaLanzamiento = new DateTime(2023 , 05, 11)
        };
    }


}

